* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  padding: 20px;
  background-color: #18202c;
}

.container {
  width: 100%;
  margin-top: 90px;
  text-align: center;
}

.container h2 {
  background: linear-gradient(#3d80d1, #f693b2);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  margin-bottom: 30px;
}

.todo {
  background-color: #fff;
  padding: 50px;
  border-radius: 15px;
}

.input-section {
  display: flex;
  justify-content: space-between;
}

.input-section input {
  width: 45%;
  padding: 3px 5px;
  border-radius: 5px;
  border: solid 1px gray;
}

.input-section input:focus {
  outline: none;
}

.input-section button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #3d80d1;
  color: white;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 10px 0;
}

.filter div button {
  width: 80px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #3d80d1;
  color: #fff;
}

.delete-all {
  width: 80px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #f693b2;
}

.edit-btn {
  display: none;
}

table {
  width: 100%;
}

table th {
  background-color: #e2e2e2;
  padding: 5px;
}

table th:nth-child(1) {
  border-top-left-radius: 10px;
}

table th:nth-child(4) {
  border-top-right-radius: 10px;
}

table td {
  padding: 10px;
  background-color: #f0f0f0;
}

table td button:nth-child(1) {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  background-color: #3d80d1;
  color: #fff;
  cursor: pointer;
}

table td button:nth-child(2) {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}

table td button:nth-child(3) {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  background-color: #f693b2;
  color: #000;
  cursor: pointer;
}

.alert {
  height: 20px;
  margin: 15px 0;
}

.success {
  background-color: #3aa832;
  color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

.warning {
  background-color: #f44336;
  color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

.filter div .selected {
  background-color: #fff;
  border: solid 1px #3d80d1;
  color: #3d80d1;
}

@media (max-width: 480px) {
  .todo {
    padding: 10px;
  }
  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .input-section input {
    width: 95%;
  }

  .input-section button {
    width: 100%;
  }

  .filter div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .delete-all {
    width: 100px;
    height: fit-content;
  }

  table {
    font-size: 0.8rem;
  }

  table td:nth-child(1) {
    word-break: break-all;
  }

  table td:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
